.product-preview {
	padding: 10px 16px;
	margin: 20px 0;
	border: 1px solid #22ad9a;
	border-radius: 0.8em;
}

.product-preview:hover {
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.product-preview h2 {
	font-size: 20px;
	color: #22ad9a;
	margin-bottom: 8px;
}

.product-preview a {
	text-decoration: none;
}
